.home__body {
    padding: 0 1rem;
    background-color: white;
}
.hli__header {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: var(--blue);
    color: white;
}


.home__list__container {
    
}

.home__list__top {
    width: 100%;
    height: 22rem;
    display: flex;
}
.home__list__bottom {
    width: 100%;
    height: 22rem;
    display: flex;
}

.home__list__item__top {
    flex: 1;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    overflow: hidden;
    background-color: var(--purple);
    margin: 1rem;
    border: 2px solid var(--blue);
}
.home__list__item__bottom {
    flex: 1;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: hidden;
    background-color: var(--purple);
    margin: 1rem;
    border: 2px solid var(--blue);
}