@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

/* Color palette */

:root {
    --purple: #E2DFE0;
    --light-blue: #BACACC;
    --blue: #7DA2A8;
}

/* Fonts */
body, .section--button, .card--button {
    font-family: 'Heebo', sans-serif;
}


/* Buttons */

.section--button {
    margin: 1rem 18% .5rem;
    border: 2px solid var(--blue);
    background-color: white;
    border-radius: 3px;
    font-size: 1rem;
    letter-spacing: 1.5px;
    height: 30px;
    padding: 0 10px;
}

.card--button {
    margin: .5rem;
    width: 100%;
    height: 30px;
    border: 2px solid var(--blue);
    background-color: white;
    border-radius: 3px;
    font-size: 1rem;
    letter-spacing: 1.5px;
}

.card--button:hover, .section--button:hover {
    color: var(--blue);
}

/* Forms */
form {
    width: 70%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

fieldset {
    background-color: white;
    border: 2px solid var(--blue);
}

form input {
    display: block;
    margin: .5rem auto 0 ;
    width: 80%;
    height: 30px;
    border: 2px solid var(--blue);
    border-radius: 3px;
    letter-spacing: 1px;
}

form label {
    font-size: .8rem;
    margin: 0 10% .5rem;
}

/* General */

body {
    background-color: var(--purple);
}

