.card__container{
    display: flex;
    flex-flow: row wrap;
}

.friend--card {
    background-color: white;
    border: 1px solid var(--light-blue);
    flex: 1;
    max-width: 500px;
    margin: 1rem 2rem 1rem 1rem;
    padding: .5rem 1.5rem;
}

.friendSearch {
    background-color: white;
    border: 1px solid var(--blue);
    border-radius: 5px;
    width: 100%;
    font-size: .8rem;
}

.friendSearch--button {
    margin: 0 1rem;
    border: 2px solid var(--blue);
    background-color: white;
    border-radius: 3px;
    font-size: .8rem;
    letter-spacing: 1.5px;
    height: 24px;
    padding: 0 8px;
}

.friendSearch fieldset {
    border: none;
}

.friendSearch label {
    margin: .5rem;
    
}

.searchList {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 0 2rem;
}