/* body {
    background-color: rgb(74, 65, 42);
} */

.card__container{
    display: flex;
    flex-flow: row wrap;
}

/* .card {
    background-color: cornsilk;
    width: 30%;
    border: 1px black solid;
    margin: .5rem;
    padding: .2rem;
    border-radius: 5px;
    flex-flow: column;
} */

.friendSearch {
    background-color: cornsilk;
    border: 1px black solid;
    border-radius: 5px;
}

.friendSearch label {
    margin: .5rem;
    
}

.searchList {
    display: flex;
    
}

.searchList button {
    margin: .2rem;
}